<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\ProgramData\Anaconda3\python.exe -u %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
